      <!DOCTYPE html>
      <html>
         <head>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
           integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
			     
         </head>
            <body><br>
      <div>
          <img class="img-fluid z-depth-1" [src]="url" height="500">
       </div>
       <div class="col-md-12 mx-auto my-2"><h4 class="my-0">BlackBeauty </h4><br> 
              <a href="#">
                  <i class="fa fa-2x fa-facebook"></i>
              </a>
              <a href="#">
                  <i class="fa fa-2x fa-youtube"></i>
              </a>
              <a href="#">
                  <i class="fa fa-2x fa-instagram"></i>
              </a>

      </div>
     
           
      
        <h6 class="col-md-12 mx-auto my-2"> BlackBeauty agé de 37 ans est une Sénégalaise passionée de la vente des produits corporelles,Après avoir terminer sa formation elle se lance dans le domaine du commerce. </h6>
      
      
      
 </body>
</html>